<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permissions -->
    <uses-permission
        android:name="com.example.unwanted.PERMISSION"
        tools:node="remove" />
    <uses-permission android:name="android.permission.CAMERA" /> <!-- Features -->
    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/story_bridge"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Storybridgeandroid">
        <activity
            android:name=".StartSessionActivity"
            android:exported="false" />
        <activity
            android:name=".LoadingActivity"
            android:exported="false" /> <!-- Launcher Activity -->
        <activity
            android:name=".LandingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Other Activities (Consider alphabetical or flow order) -->
        <activity
            android:name=".CameraActivity"
            android:exported="false" />
        <activity
            android:name=".FinishActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".ReadingActivity"
            android:exported="false" />
        <activity
            android:name=".VoiceSelectActivity"
            android:exported="false" />
        <activity
            android:name=".SettingActivity"
            android:exported="false" />
    </application>

</manifest>